.button_inactive {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 2px;
  color: #000;
  opacity: 0.2;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
