.header__menu {
  flex-direction: row;
  gap: 24px;
  margin: 0;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 670px) {
  .header__menu {
    flex-direction: column;
    width: 100%;
    /* max-width: 320px; */
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    align-items: center;
    gap: 18px;
    margin: 0;
    padding-bottom: 40px;
  }
}
