.popup__form-error {
  display: block;
  min-height: 30px;
  max-width: 358px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin-top: 5px;
  opacity: 0%;
  transition: 0.4s;
}

@media screen and (max-width: 670px) {
  .popup__form-error {
    width: 238px;
  }
}
