.auth__submit-button {
  background-color: #fff;
  border-bottom: 2px solid #cccccc;
  border: 0;
  margin: 186px 0 15px;
  color: #000;
  cursor: pointer;
  font-weight: 400;
  line-height: 22px;
  font-size: 18px;
  max-width: 358px;
  font-size: 18px;
  font-weight: 400;
  min-height: 50px;
  width: 100%;
  padding: 0;
}
.auth__submit-button:hover {
  opacity: 0.8;
}
