.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 282px;
  margin-left: 30px;
}

@media screen and (max-width: 670px){
  .profile__info {
    margin-left: 0;
  }
}